<!DOCTYPE html>
<html>
<head>
  <style>
    body {background-color: lightcyan;}
    h1,h2,h3,h4   {color: blue;}
    p    {color: blue;}
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Arial";
      ;
    }
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -200px;
      margin-left: -200px;
      width: 500px;
      height: 200px;}​
  </style>
</head>

<div style = "text-align:left">
<h3>You have logged out successfully</h3>

<h3 align ="center  ">Thank you..! Visit us Again</h3>
</div>
