<!DOCTYPE html>
<html>
<head>
  <style>
    body {background-color: lightcyan;}
    h1,h2,h3,h4   {color: brown;}
    p    {color: black;}
      a:link{
        color:blue;
      }
  </style>
</head>

<body>
<h2 align ="center">Learn Spanish Online for Free with Multilingo</h2>
<h3 align ="center">Free Spanish Tutorials: Basic Spanish Phrases, Vocabulary, and Grammar</h3>

<br><br>
<p>Spanish Language Tutorial includes a complete vocabulary and grammar review of the Spanish language
  (much more than what is available online), transcripts of authentic Spanish videos, and Spanish realia photos.
  The PDF e-book and mp3s - including nearly two hours of recordings by five native speakers from three countries -
  are available for immediate download with FREE lifetime updates. Thank you for supporting Multilingo! </p>
<br><br>

<div style="text-align: center">
<h4>Index of Spanish Lessons</h4>
<p>Spanish I</p>
<a href = "#">

  Basic Spanish Phrases <br>

  Pronunciation<br>

  Alphabet<br>

  Nouns, Articles, and Demonstratives<br>

  Subject Pronouns<br>

  To Be & to Have<br>

  Question Words<br>

  Numbers<br>

  Days of the Week<br>

  Months of the Year<br>

  Seasons and Directions<br>

  Colors and Shapes<br>

  Time<br>

  Weather<br>

  Prepositions</a>

</div>
</body>